body {
    font-family: Arial, Helvetica, sans-serif;
}

 /*HEADER*/
.navbar-nav{
  gap: 40px;
}

/*BARRA DE PESQUISA*/
.search-container {
    background-color: #072252;
    padding: 75px;
}
.search-container .title{
    width: 60%;
}
.search-container .title h1{
    font-size: 48px;
}
.search-container .title h3{
    font-size:25px;
    font-weight: 400;
}
.search-container .title p{
    font-size:18px;
    color: rgba(255, 255, 255, 0.756);
    font-weight: 400;
}
.img-equipe{
   width: 27%;
   margin-top: -65px;
   position: absolute;
}

.search-icon {
    cursor: pointer;
    width: 30px; /* Ajuste o tamanho do ícone de pesquisa conforme necessário */
    height: 30px; /* Ajuste o tamanho do ícone de pesquisa conforme necessário */
    fill: #666; /* Cor do ícone */
    position: absolute;
    top: 50%;
    right: 10px; /* Distância do ícone para a borda direita */
    transform: translateY(-50%);
}

.searchInputContainer {
    z-index: 1;
    position: relative;
    margin-right: 15px; /* Aumente o espaço à direita do campo de entrada para acomodar o ícone */
}

.searchInput {
    width: 100%;
    padding: 8px;
    padding-right: 150px; /* Adicione espaço à direita do campo de entrada para o ícone */
    border: 1px solid #ccc;
    border-radius: 20px;
}

.btnFiltrar {
    background-color: rgb(243, 243, 243)!important;
    border: none!important;
    padding: 8px!important;
    border-radius: 10px!important;
    color: #072252!important;
    border: 1px solid rgb(218, 218, 218)!important;
}
.btnFiltrar:hover{
    background-color: #072252!important;
    color: #fff!important;
}

/*VIDEOS RECOMENDADOS*/
 
    .seta1,
    .seta2{
        width: 38px;
        position:absolute;
        margin-top: 70px;
        z-index: 1000;
        background-color: rgb(237, 236, 236);
        border-radius: 50%;
        padding: 8px;
        cursor: pointer;
    }

    .seta1:hover,
    .seta2:hover{
        background-color: rgb(220, 220, 220);
    }
    .seta1{
        transform: rotate(180deg);
        left: 0;
        margin-left: 80px;
    }
    .seta2{
        right: 0;
        margin-right: 101px;
    }
    @media (max-width: 1540px) {
        .seta1{
            margin-left: 40px;
        }
        .seta2{
            margin-right: 61px;
        }
    }
    @media (max-width: 1480px) {
        .seta1{
            margin-left: 15px;
        }
        .seta2{
            margin-right: 31px;
        }
    }
    @media (max-width: 1200px) {
        .seta1,
        .seta2{
            margin-top: 50px;
        }
    }
    @media (max-width: 990px) {
        .seta1,
        .seta2{
            margin-top: 30px;
        }
    }
    @media (max-width: 690px) {
        .seta1,
        .seta2{
            margin-top: 20px;
            background-color: transparent;
        }
        .seta1{
            margin-left: 0px;
        }
        .seta2{
            margin-right: 0px;
        }
    
    }
    
    .photo1{
        width: 96%;
        border-radius: 7px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     }
    .photo1:hover{
       cursor: pointer;
       width: 98%;
     }

     .photo{
        width: 92.5%;
        border-radius: 7px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     } 
    .photo:hover{
       cursor: pointer;
       width: 94%;
     }

     .photo2{
        width: 92%;
        border-radius: 7px;
        margin-left: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     }
    .photo2:hover{
       cursor: pointer;
       width: 94%;
     }
.conteudosRecomendados p{
 color: rgb(115, 115, 115);
 font-size: 14px;
 margin-left: 5px;
 line-height: 8px;
 margin-top: 15px;
}
.conteudosRecomendados .date{
    color: rgb(137, 137, 137);
font-weight: 700;
   }
     /*FOOTER*/

   .icon-whatsapp{
    margin-top: -7px;
    }
    .icon-whatsapp:hover, .icon-instagram:hover{
     filter: brightness(80%)
      }
    .main-footer {
      background-color: #efefef;
      margin-left: 40px;
      margin-right: 40px;
      border-radius: 10px;
    }
    
    .main-footer h1{
      margin-bottom: 20px;
      text-align: left;
      font-size: 1rem;
      font-weight: 700;
      color: #1c3c71;
    }
    
    .main-footer a,
    .main-footer li {
      text-decoration: none;
      font-size: 14px;
      font-weight: 600;
      line-height: 2rem;
      color: #000;
    }
    
    .copy{
      padding: 50px 0px;
      line-height: 1rem;
      font-size: 11px;
    
    }
    .social-networks{
      display: flex!important;
      gap: 30px;
    }
    
    .logoFooterContainer{
      margin-bottom: 50px;
      margin-top: 50px!important;
    }
    
    @media (max-width: 990px){
      .navbar-collapse {
        justify-content: flex-end !important;
        flex-basis: auto !important;
    }
    
    .navbar-navCss {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 0;
    }
    
    .nav-item {
        display: none;
    }
    
    .nav-item:last-child {
        display: block;
    }
    .custom-li {
      width: 20%;
    }
    .span-local-diferente{
      margin-top: 0px;
     
     }
    }   
    @media (max-width: 700px){
      .headerCss {
        padding: 30px 10px!important; 
        gap: 60px;
    }
    .nav-item:last-child {
     margin-top: 5px;
    }
    .custom-li {
      width: 30%;
    }
    
    }  
    
    /*PAGINA FAVORITADOS  favoritados.html*/
    .custom{
      background-color: #e5ecfb ;
      border-radius: 50px;
      width: 10%;
    }
    .custom li{
        color: #093480;
        list-style: none;
        padding: 5px;
        text-align: center;
        font-weight: 700;
        font-size: 13px;
    }
    .card-img-top {
        height: 220px;
    }
    .photo-info {
        padding: 10px;
        background-color: #f5f5f5;
        border-radius: 5px;
        margin-top: 5px;
    }
    
    .btn-remove {
        margin-top: 5px;
    }

    .favoritados-container {
        padding: 50px;
    }

    .favoritados-container .title-favoritos h1{
        font-size: 48px;
        color: #093e99!important;
    }
        .recomendado-container h2{
            font-size:22px;
            font-weight: 500;
            color: #093e99!important;
        }
    .favoritados-container .title-favoritos h3{
        font-size:25px;
        font-weight: 400;
        width: 70%!important;
        color: #093e99!important;
    }
    .favoritados-container .title-favoritos p{
        font-size:18px;
        font-weight: 400;
        color: #093e99!important;
        width: 95%!important;
    }

    /*PÁGINA COM CONTEÚDO DA MEETUP meetUp.html */
   
   
    .bi-star-fill{
        margin-right: 8px;
        margin-left: -6px;
        margin-top: -4px;
    }
    .action-button {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;
    }
    .action-button:hover {
        background-color: #0056b3;
    }
 
    .comments {
        margin-top: 20px;
    }
    .comment {
        margin-bottom: 10px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }
    .comment-form {
        margin-top: 20px;
    }
    .comment-form textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }
    .comment-form button {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .share-button {
        background-color: #007bff;
        color: #fff;
        padding: 9px 19px; 
        border: none;
        border-radius: 5px; 
        font-size: 17px; 
        cursor: pointer;
        transition: background-color 0.3s;
        margin: 10px; 
    }
    .share-button:hover {
        background-color: #0056b3;
    }
 



    .grid {
        display: grid;
        grid-template-columns: 1fr;
        background-color: #0011AB; /* Cor de fundo azul */
        border-radius: 8px; /* Borda arredondada */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
      }
      
      .cell {
        padding: 20px;
      }
      
      .cell.header {
        color: #fff; /* Fonte branca */
      }
      
      .comment-interface {
        max-width: 800px;
        margin: 19px ;
        padding: 20px;
        border: none; /* Removendo a borda */
        border-radius: 8px; /* Borda arredondada */
        background-color: #f0f0f0; /* Cor de fundo mais suave */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
      }
      .comment-interface textarea {
        width: calc(100% - 2px); /* Ajustando a largura para alinhar com o padding */
        margin-bottom: 20px;
        padding: 15px; /* Aumentando o padding */
        border: none; /* Removendo a borda */
        border-radius: 8px; /* Borda arredondada */
        background-color: #fff; /* Cor de fundo branca */
        font-family: 'Arial', sans-serif;
        resize: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
      }
      
      .comment-interface button {
        background-color: #0011AB;
        color: #fff;
        padding: 12px 20px;
        border: none;
        border-radius: 8px; /* Borda arredondada */
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      .comment-interface button:hover {
       filter: brightness(80%);
      }
      
      .comments-section {
        max-width: 800px;
        margin: 18px; /* Aumentando a margem na parte inferior */
        padding: 20px;
        border: 1px solid #ddd; /* Borda mais suave */
        border-radius: 8px; /* Borda arredondada */
        background-color: #fff; /* Cor de fundo branca */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
      }

      .comment {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #eee; /* Borda mais suave */
      }
      
      .comment p {
        margin-bottom: 5px;
        line-height: 1.5; /* Espaçamento entre linhas */
      }
      
      .comment .user-info {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }
      
      .user-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }
      
      .user-name {
        font-weight: bold;
      }
      
      .rating {
        margin-bottom: 17px;
        margin-top: -17px;
        font-size: 32px; /* Aumentando o tamanho das estrelas */
        display: flex;
        justify-content: start; /* Centralizando horizontalmente */
        align-items: left; /* Centralizando verticalmente */
      }
      
      .rating .star {
        color: #ddd;
        cursor: pointer;
        transition: color 0.3s ease;
      }
      
      .rating.star.active {
        color: #fdd835; /* Cor amarela das estrelas preenchidas */
      }
      .rating .star:hover{
        color: #fdd835; /* Cor amarela das estrelas preenchidas */
      }
    
  
    
    
